In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("preprocessed_dataset/new_trade_df.csv")
trades_df = pd.DataFrame(data)
trades_df

,transaction_hash,transaction_index,token_ids,seller_address,buyer_address,token_address,marketplace_address,price,price_token_address,block_timestamp,block_number,block_hash,price_usd
0,0xd7697254e0c81b5495d33eb97f6df0b7712bed9f7240...,30,23446,0x638b1350920333d23a7a7472c00aa5c38c278b90,0xc4bc1da519e0e159b8c31bfbece55295f42b0df9,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,2.00,NaN,2022-09-17,15549817,0x170e4dd80b70bed43cce9b7ed879a97c7bf51567c6cc...,2866.434466
1,0x79ce5fd00f68d7c01e968330b4fd1d18d4dab63da449...,354,11227,0xd1878576c6cb7003a8225ee62785532f3bef5a88,0xf98188ad7b9e0857d4371e779ddcc7a27452315d,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,1.95,NaN,2022-09-17,15549682,0xd413884112774db0e2f00f0e0f462bce96b2f539a3b3...,2794.773604
2,0xd68434292eeb51fbcaaa5a7f123677b3e6c1860fa245...,191,17507,0x129551cf72217561d02679c0ad7a9810d525b605,0x93071db50d028e62fcf5f571bb5357160252eb7f,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,2.60,NaN,2022-09-16,15549253,0xaf15117c21f957e4fbe4a03196e3bb1067e1ca3b73f0...,3827.013750
3,0x13f54f315829585f277dd8370b669cf537c21c071051...,173,77132,0x273d3c8c45487debc56bfdc6d2f8c2a1300a9f22,0xdac0410b2530886517d4d2096f0dad14f9e8b111,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,2.00,NaN,2022-09-16,15549123,0x2b3bc41ab2e505eb866269e1d15a3fa9070fb07f3790...,2943.856731
4,0xb1d1e3a952d904d6c1bf323538ec4c36d3cf3a0f3bb0...,127,54283,0xc2e8240cab4457acb669eafc94448a6c1d483f95,0xa437aa303cef291dea44801e80c192d254f559ad,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,1.75,NaN,2022-09-16,15548985,0x39ec75471d0c9a8e20b2054dcd21e0872bcf93933f70...,2575.874639
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36179,0x4d6800bc7247754b3f71324c7631ec7065bfcdae2188...,35,49495,0x484f2bfe6ea59d667fd5cb29ed259329180d0507,0x003c4209f5b9c18e926b4725d0c2c95c91e6a6c9,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.00,NaN,2022-05-01,14688939,0xafccfed5708df97338fa4c9d8f5c86191b2280f17fb2...,21847.121991
36180,0x18d5d225fa2164ec1b413f9e4771ef2ce2058c03c708...,19,51155,0x94f68749be6c2e1de2a7d2bb0cf6d1d93269f035,0x5021052790184abfe9a618c0578fead636879478,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.00,NaN,2022-05-01,14688939,0xafccfed5708df97338fa4c9d8f5c86191b2280f17fb2...,21847.121991
36181,0x1104e053a73a7ec5639a3cbafeab9a29933fe35f8c41...,41,45735,0xc1980a8cf3b17788e71e542e6eec73930cfa2910,0x697da3c2e359cc940e8ff63453f8e68e2ff5ff90,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.34,NaN,2022-05-01,14688938,0xd1435ddf526ccd2ea001a9ebfdc1dd45501bad9e3e37...,22775.624676
36182,0x9310dd9850a933182519bbc8dcc67635be78b0567ada...,30,50763,0x889e9a0a6378bdfd45c2999d2026f8d03cded448,0xdfdba601d5d6a17fb0017ecaa531b2b4ca3d2c5d,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.50,NaN,2022-05-01,14688938,0xd1435ddf526ccd2ea001a9ebfdc1dd45501bad9e3e37...,23212.567116
36183,0xea3424e625db10490e416dfa92411111685061281069...,24,46903,0x0121bdcefb6affb590c90adf4cb7b0a88213d49a,0x995db04afea09f1051b46678ffd886cc3f00b2d6,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,9.00,NaN,2022-05-01,14688935,0xec413770169d810d0d5417cbc7bd35a395d514dd48fc...,24578.012240

In [3]:
nft_df_1 = pd.read_csv("preprocessed_dataset/ntf_df1.csv")
nft_df_2 = pd.read_csv("preprocessed_dataset/ntf_df2.csv")
nft_df_3 = pd.read_csv("preprocessed_dataset/ntf_df3.csv")
nft_df_4 = pd.read_csv("preprocessed_dataset/ntf_df4.csv")
nft_df_5 = pd.read_csv("preprocessed_dataset/ntf_df5.csv")
nft_df = pd.concat([nft_df_1, nft_df_2, nft_df_3, nft_df_4, nft_df_5])

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (24) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
nft_df

,token_id,token_address,amount,owner_of,token_hash,block_number_minted,block_number,transfer_index,contract_type,name,...,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier
0,0,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xf7801b8115f3fe46ac55f8c0fdb5243726bdb66a,e64f9898044a4a1111e2eda769adcd96,14692463.0,14692463.0,"[14692463, 125, 165, 0]",ERC721,Otherdeed,...,Moldium,1.0,First Trip,0,Biogenic Swamp,1,Lumileaf,3.0,NaN,NaN
1,1,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x46efbaedc92067e6d60e84ed6395099723252496,8350fb9c2b0adea96bf929d1255e6fcf,14694414.0,14694414.0,"[14694414, 43, 76, 0]",ERC721,Otherdeed,...,Abyssia,3.0,NaN,1,Biogenic Swamp,2,NaN,NaN,Brimstone,3.0
2,2,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xc5c7b46843014b1591e9af24de797156cde67f08,44f52b4884b50788e198fea18ada4d94,14694565.0,14694565.0,"[14694565, 191, 196, 0]",ERC721,Otherdeed,...,Lumileaf,2.0,First Trip,2,Biogenic Swamp,3,Runa,1.0,Luster,1.0
3,3,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x03546b22bc80b3e6b64c4445963d981250267a68,bcb9b0d100b4d1f9f23223ac9402227e,14694416.0,14694416.0,"[14694416, 134, 241, 0]",ERC721,Otherdeed,...,NaN,NaN,First Trip,3,Biogenic Swamp,2,Whisper,3.0,NaN,NaN
4,4,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x33569c101562e1faf5b24581057e5cee4c8288d7,fbeb786f4e1935adf2da5d097ab68fb1,14690047.0,14690047.0,"[14690047, 67, 114, 0]",ERC721,Otherdeed,...,Moldium,3.0,NaN,4,Biogenic Swamp,3,NaN,NaN,Lunarian,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19934,99995,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x4b294dac43aa2af57fb29df51fc64a61343901db,0d37969a9a71cdcd13457a4e8817badc,14689597.0,14694995.0,"[14694995, 64, 102, 0]",ERC721,Otherdeed,...,NaN,NaN,First Trip,99995,Cosmic Dream,1,Runa,2.0,Gloomia,1.0
19935,99996,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x0359a50c85b6d0ad57a5b1f375f35f59334963ec,7dd3b3c3e0e2e9ff5d412fe85d2ad7d9,14689597.0,15128464.0,"[15128464, 135, 146, 0]",ERC721,Otherdeed,...,NaN,NaN,NaN,99996,Cosmic Dream,1,Lunarian,3.0,Steppesalt,2.0
19936,99997,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xbf9adbe0fa9638081c450cbd5d2f219db1bad562,e08e52f2b3681863f1175afb4377ee3e,14689597.0,14689597.0,"[14689597, 37, 123, 0]",ERC721,Otherdeed,...,Lumileaf,1.0,NaN,99997,Cosmic Dream,1,Runa,3.0,Bonestone,1.0
19937,99998,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x0075601db47c244cf3a3cda72f64a0e3fe12dd12,7ae423f06e0db599a063df28c9de2cfd,14689597.0,14689919.0,"[14689919, 323, 248, 0]",ERC721,Otherdeed,...,NaN,NaN,NaN,99998,Cosmic Dream,1,NaN,NaN,Lunarian,3.0
19938,99999,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x97a97445090044357ebcae34e08d3dd7f1e44bdc,000024d59062ef2e61bd1662ee7ffcbc,14689597.0,14696090.0,"[14696090, 208, 251, 0]",ERC721,Otherdeed,...,Oblivion,1.0,First Trip,99999,Cosmic Dream,1,NaN,NaN,NaN,NaN

In [5]:
trades_df = trades_df[["token_ids","block_timestamp","price_usd"]]
trades_df

       token_ids block_timestamp     price_usd
0          23446      2022-09-17   2866.434466
1          11227      2022-09-17   2794.773604
2          17507      2022-09-16   3827.013750
3          77132      2022-09-16   2943.856731
4          54283      2022-09-16   2575.874639
...          ...             ...           ...
36179      49495      2022-05-01  21847.121991
36180      51155      2022-05-01  21847.121991
36181      45735      2022-05-01  22775.624676
36182      50763      2022-05-01  23212.567116
36183      46903      2022-05-01  24578.012240

[36184 rows x 3 columns]

In [6]:
nft_df=nft_df.rename(columns={"token_id":"token_ids"})
nft_df

,token_ids,token_address,amount,owner_of,token_hash,block_number_minted,block_number,transfer_index,contract_type,name,...,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier
0,0,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xf7801b8115f3fe46ac55f8c0fdb5243726bdb66a,e64f9898044a4a1111e2eda769adcd96,14692463.0,14692463.0,"[14692463, 125, 165, 0]",ERC721,Otherdeed,...,Moldium,1.0,First Trip,0,Biogenic Swamp,1,Lumileaf,3.0,NaN,NaN
1,1,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x46efbaedc92067e6d60e84ed6395099723252496,8350fb9c2b0adea96bf929d1255e6fcf,14694414.0,14694414.0,"[14694414, 43, 76, 0]",ERC721,Otherdeed,...,Abyssia,3.0,NaN,1,Biogenic Swamp,2,NaN,NaN,Brimstone,3.0
2,2,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xc5c7b46843014b1591e9af24de797156cde67f08,44f52b4884b50788e198fea18ada4d94,14694565.0,14694565.0,"[14694565, 191, 196, 0]",ERC721,Otherdeed,...,Lumileaf,2.0,First Trip,2,Biogenic Swamp,3,Runa,1.0,Luster,1.0
3,3,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x03546b22bc80b3e6b64c4445963d981250267a68,bcb9b0d100b4d1f9f23223ac9402227e,14694416.0,14694416.0,"[14694416, 134, 241, 0]",ERC721,Otherdeed,...,NaN,NaN,First Trip,3,Biogenic Swamp,2,Whisper,3.0,NaN,NaN
4,4,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x33569c101562e1faf5b24581057e5cee4c8288d7,fbeb786f4e1935adf2da5d097ab68fb1,14690047.0,14690047.0,"[14690047, 67, 114, 0]",ERC721,Otherdeed,...,Moldium,3.0,NaN,4,Biogenic Swamp,3,NaN,NaN,Lunarian,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19934,99995,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x4b294dac43aa2af57fb29df51fc64a61343901db,0d37969a9a71cdcd13457a4e8817badc,14689597.0,14694995.0,"[14694995, 64, 102, 0]",ERC721,Otherdeed,...,NaN,NaN,First Trip,99995,Cosmic Dream,1,Runa,2.0,Gloomia,1.0
19935,99996,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x0359a50c85b6d0ad57a5b1f375f35f59334963ec,7dd3b3c3e0e2e9ff5d412fe85d2ad7d9,14689597.0,15128464.0,"[15128464, 135, 146, 0]",ERC721,Otherdeed,...,NaN,NaN,NaN,99996,Cosmic Dream,1,Lunarian,3.0,Steppesalt,2.0
19936,99997,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xbf9adbe0fa9638081c450cbd5d2f219db1bad562,e08e52f2b3681863f1175afb4377ee3e,14689597.0,14689597.0,"[14689597, 37, 123, 0]",ERC721,Otherdeed,...,Lumileaf,1.0,NaN,99997,Cosmic Dream,1,Runa,3.0,Bonestone,1.0
19937,99998,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x0075601db47c244cf3a3cda72f64a0e3fe12dd12,7ae423f06e0db599a063df28c9de2cfd,14689597.0,14689919.0,"[14689919, 323, 248, 0]",ERC721,Otherdeed,...,NaN,NaN,NaN,99998,Cosmic Dream,1,NaN,NaN,Lunarian,3.0
19938,99999,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x97a97445090044357ebcae34e08d3dd7f1e44bdc,000024d59062ef2e61bd1662ee7ffcbc,14689597.0,14696090.0,"[14696090, 208, 251, 0]",ERC721,Otherdeed,...,Oblivion,1.0,First Trip,99999,Cosmic Dream,1,NaN,NaN,NaN,NaN

In [7]:
nft_df = nft_df[['token_ids', 'Artifact', 'Category',
       'Eastern Resource', 'Eastern Resource Tier', 'Environment',
       'Environment Tier', 'Koda', 'Northern Resource',
       'Northern Resource Tier', 'Obelisk Piece', 'Plot', 'Sediment',
       'Sediment Tier', 'Southern Resource', 'Southern Resource Tier',
       'Western Resource', 'Western Resource Tier']]

In [8]:
df = nft_df.merge(trades_df, on='token_ids', how='left')
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd
0,0,NaN,Spirit,Whisper,3.0,Steppes,4,9068.0,Moldium,1.0,First Trip,0,Biogenic Swamp,1,Lumileaf,3.0,NaN,NaN,NaN,NaN
1,1,NaN,Volcanic,NaN,NaN,Obsidian,1,NaN,Abyssia,3.0,NaN,1,Biogenic Swamp,2,NaN,NaN,Brimstone,3.0,NaN,NaN
2,2,NaN,Spirit,Bonestone,2.0,Sands,1,NaN,Lumileaf,2.0,First Trip,2,Biogenic Swamp,3,Runa,1.0,Luster,1.0,NaN,NaN
3,3,NaN,Harsh,Spikeweed,3.0,Splinter,4,NaN,NaN,NaN,First Trip,3,Biogenic Swamp,2,Whisper,3.0,NaN,NaN,NaN,NaN
4,4,Forged Pickaxe,Decay,Lunarian,1.0,Ruins,1,NaN,Moldium,3.0,NaN,4,Biogenic Swamp,3,NaN,NaN,Lunarian,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108944,99996,NaN,Harsh,NaN,NaN,Splinter,1,NaN,NaN,NaN,NaN,99996,Cosmic Dream,1,Lunarian,3.0,Steppesalt,2.0,2022-07-07,3561.591446
108945,99996,NaN,Harsh,NaN,NaN,Splinter,1,NaN,NaN,NaN,NaN,99996,Cosmic Dream,1,Lunarian,3.0,Steppesalt,2.0,2022-05-01,28141.824015
108946,99997,NaN,Psychedelic,Psychosilk,1.0,Mallow,3,NaN,Lumileaf,1.0,NaN,99997,Cosmic Dream,1,Runa,3.0,Bonestone,1.0,NaN,NaN
108947,99998,NaN,Psychedelic,Spikeweed,1.0,Sludge,2,NaN,NaN,NaN,NaN,99998,Cosmic Dream,1,NaN,NaN,Lunarian,3.0,2022-05-01,19116.231742
108948,99999,Rugged Hammer,Mineral,NaN,NaN,Biolume,4,NaN,Oblivion,1.0,First Trip,99999,Cosmic Dream,1,NaN,NaN,NaN,NaN,2022-05-02,22620.911972

In [9]:
from sklearn import preprocessing

In [10]:
le = preprocessing.LabelEncoder()

In [11]:
df["token_ids"]=le.fit_transform(df["token_ids"])

In [12]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd
0,0,NaN,Spirit,Whisper,3.0,Steppes,4,9068.0,Moldium,1.0,First Trip,0,Biogenic Swamp,1,Lumileaf,3.0,NaN,NaN,NaN,NaN
1,1,NaN,Volcanic,NaN,NaN,Obsidian,1,NaN,Abyssia,3.0,NaN,1,Biogenic Swamp,2,NaN,NaN,Brimstone,3.0,NaN,NaN
2,2,NaN,Spirit,Bonestone,2.0,Sands,1,NaN,Lumileaf,2.0,First Trip,2,Biogenic Swamp,3,Runa,1.0,Luster,1.0,NaN,NaN
3,3,NaN,Harsh,Spikeweed,3.0,Splinter,4,NaN,NaN,NaN,First Trip,3,Biogenic Swamp,2,Whisper,3.0,NaN,NaN,NaN,NaN
4,4,Forged Pickaxe,Decay,Lunarian,1.0,Ruins,1,NaN,Moldium,3.0,NaN,4,Biogenic Swamp,3,NaN,NaN,Lunarian,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108944,99935,NaN,Harsh,NaN,NaN,Splinter,1,NaN,NaN,NaN,NaN,99996,Cosmic Dream,1,Lunarian,3.0,Steppesalt,2.0,2022-07-07,3561.591446
108945,99935,NaN,Harsh,NaN,NaN,Splinter,1,NaN,NaN,NaN,NaN,99996,Cosmic Dream,1,Lunarian,3.0,Steppesalt,2.0,2022-05-01,28141.824015
108946,99936,NaN,Psychedelic,Psychosilk,1.0,Mallow,3,NaN,Lumileaf,1.0,NaN,99997,Cosmic Dream,1,Runa,3.0,Bonestone,1.0,NaN,NaN
108947,99937,NaN,Psychedelic,Spikeweed,1.0,Sludge,2,NaN,NaN,NaN,NaN,99998,Cosmic Dream,1,NaN,NaN,Lunarian,3.0,2022-05-01,19116.231742
108948,99938,Rugged Hammer,Mineral,NaN,NaN,Biolume,4,NaN,Oblivion,1.0,First Trip,99999,Cosmic Dream,1,NaN,NaN,NaN,NaN,2022-05-02,22620.911972

In [13]:
df["Artifact"]=le.fit_transform(df["Artifact"])

In [14]:
df["Category"]=le.fit_transform(df["Category"])
df["Eastern Resource"]=le.fit_transform(df["Eastern Resource"])
df["Environment"]=le.fit_transform(df["Environment"])
df["Koda"]=le.fit_transform(df["Koda"])
df["Northern Resource"]=le.fit_transform(df["Northern Resource"])
df["Obelisk Piece"]=le.fit_transform(df["Obelisk Piece"])
df["Sediment"]=le.fit_transform(df["Sediment"])
df["Southern Resource"]=le.fit_transform(df["Southern Resource"])
df["Western Resource"]=le.fit_transform(df["Western Resource"])

In [15]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd
0,0,74,6,73,3.0,24,4,9060,36,1.0,0,0,0,1,29,3.0,74,NaN,NaN,NaN
1,1,74,7,74,NaN,15,1,9992,0,3.0,1,1,0,2,74,NaN,4,3.0,NaN,NaN
2,2,74,6,3,2.0,18,1,9992,29,2.0,0,2,0,3,55,1.0,32,1.0,NaN,NaN
3,3,74,3,62,3.0,23,4,9992,74,NaN,0,3,0,2,73,3.0,74,NaN,NaN,NaN
4,4,22,1,31,1.0,17,1,9992,36,3.0,1,4,0,3,74,NaN,31,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108944,99935,74,3,74,NaN,23,1,9992,74,NaN,1,99996,2,1,31,3.0,65,2.0,2022-07-07,3561.591446
108945,99935,74,3,74,NaN,23,1,9992,74,NaN,1,99996,2,1,31,3.0,65,2.0,2022-05-01,28141.824015
108946,99936,74,5,51,1.0,11,3,9992,29,1.0,1,99997,2,1,55,3.0,3,1.0,NaN,NaN
108947,99937,74,5,62,1.0,21,2,9992,74,NaN,1,99998,2,1,74,NaN,31,3.0,2022-05-01,19116.231742
108948,99938,54,4,74,NaN,1,4,9992,42,1.0,0,99999,2,1,74,NaN,74,NaN,2022-05-02,22620.911972

In [16]:
df["block_timestamp"]=df["block_timestamp"].fillna("2022-10-18")
df=df.fillna(0.0)

In [17]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd
0,0,74,6,73,3.0,24,4,9060,36,1.0,0,0,0,1,29,3.0,74,0.0,2022-10-18,0.000000
1,1,74,7,74,0.0,15,1,9992,0,3.0,1,1,0,2,74,0.0,4,3.0,2022-10-18,0.000000
2,2,74,6,3,2.0,18,1,9992,29,2.0,0,2,0,3,55,1.0,32,1.0,2022-10-18,0.000000
3,3,74,3,62,3.0,23,4,9992,74,0.0,0,3,0,2,73,3.0,74,0.0,2022-10-18,0.000000
4,4,22,1,31,1.0,17,1,9992,36,3.0,1,4,0,3,74,0.0,31,1.0,2022-10-18,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108944,99935,74,3,74,0.0,23,1,9992,74,0.0,1,99996,2,1,31,3.0,65,2.0,2022-07-07,3561.591446
108945,99935,74,3,74,0.0,23,1,9992,74,0.0,1,99996,2,1,31,3.0,65,2.0,2022-05-01,28141.824015
108946,99936,74,5,51,1.0,11,3,9992,29,1.0,1,99997,2,1,55,3.0,3,1.0,2022-10-18,0.000000
108947,99937,74,5,62,1.0,21,2,9992,74,0.0,1,99998,2,1,74,0.0,31,3.0,2022-05-01,19116.231742
108948,99938,54,4,74,0.0,1,4,9992,42,1.0,0,99999,2,1,74,0.0,74,0.0,2022-05-02,22620.911972

In [18]:
df["Eastern Resource Tier"]=le.fit_transform(df["Eastern Resource Tier"])
df["Environment Tier"]=le.fit_transform(df["Environment Tier"])
df["Northern Resource Tier"]=le.fit_transform(df["Northern Resource Tier"])
df["Sediment Tier"]=le.fit_transform(df["Sediment Tier"])
df["Southern Resource Tier"]=le.fit_transform(df["Southern Resource Tier"])
df["Western Resource Tier"]=le.fit_transform(df["Western Resource Tier"])

In [19]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd
0,0,74,6,73,3,24,3,9060,36,1,0,0,0,0,29,3,74,0,2022-10-18,0.000000
1,1,74,7,74,0,15,0,9992,0,3,1,1,0,1,74,0,4,3,2022-10-18,0.000000
2,2,74,6,3,2,18,0,9992,29,2,0,2,0,2,55,1,32,1,2022-10-18,0.000000
3,3,74,3,62,3,23,3,9992,74,0,0,3,0,1,73,3,74,0,2022-10-18,0.000000
4,4,22,1,31,1,17,0,9992,36,3,1,4,0,2,74,0,31,1,2022-10-18,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108944,99935,74,3,74,0,23,0,9992,74,0,1,99996,2,0,31,3,65,2,2022-07-07,3561.591446
108945,99935,74,3,74,0,23,0,9992,74,0,1,99996,2,0,31,3,65,2,2022-05-01,28141.824015
108946,99936,74,5,51,1,11,2,9992,29,1,1,99997,2,0,55,3,3,1,2022-10-18,0.000000
108947,99937,74,5,62,1,21,1,9992,74,0,1,99998,2,0,74,0,31,3,2022-05-01,19116.231742
108948,99938,54,4,74,0,1,3,9992,42,1,0,99999,2,0,74,0,74,0,2022-05-02,22620.911972

In [20]:
temp=max(df["Koda"])
df["koda_or_not"]=[1 if i!=temp else 0 for i in df["Koda"]]

In [21]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,...,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd,koda_or_not
0,0,74,6,73,3,24,3,9060,36,1,...,0,0,0,29,3,74,0,2022-10-18,0.000000,1
1,1,74,7,74,0,15,0,9992,0,3,...,1,0,1,74,0,4,3,2022-10-18,0.000000,0
2,2,74,6,3,2,18,0,9992,29,2,...,2,0,2,55,1,32,1,2022-10-18,0.000000,0
3,3,74,3,62,3,23,3,9992,74,0,...,3,0,1,73,3,74,0,2022-10-18,0.000000,0
4,4,22,1,31,1,17,0,9992,36,3,...,4,0,2,74,0,31,1,2022-10-18,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108944,99935,74,3,74,0,23,0,9992,74,0,...,99996,2,0,31,3,65,2,2022-07-07,3561.591446,0
108945,99935,74,3,74,0,23,0,9992,74,0,...,99996,2,0,31,3,65,2,2022-05-01,28141.824015,0
108946,99936,74,5,51,1,11,2,9992,29,1,...,99997,2,0,55,3,3,1,2022-10-18,0.000000,0
108947,99937,74,5,62,1,21,1,9992,74,0,...,99998,2,0,74,0,31,3,2022-05-01,19116.231742,0
108948,99938,54,4,74,0,1,3,9992,42,1,...,99999,2,0,74,0,74,0,2022-05-02,22620.911972,0

In [22]:
from datetime import datetime

In [23]:
df["block_timestamp"]=[datetime.strptime(i,"%Y-%m-%d").timestamp() for i in df["block_timestamp"]]

In [24]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,...,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd,koda_or_not
0,0,74,6,73,3,24,3,9060,36,1,...,0,0,0,29,3,74,0,1.666076e+09,0.000000,1
1,1,74,7,74,0,15,0,9992,0,3,...,1,0,1,74,0,4,3,1.666076e+09,0.000000,0
2,2,74,6,3,2,18,0,9992,29,2,...,2,0,2,55,1,32,1,1.666076e+09,0.000000,0
3,3,74,3,62,3,23,3,9992,74,0,...,3,0,1,73,3,74,0,1.666076e+09,0.000000,0
4,4,22,1,31,1,17,0,9992,36,3,...,4,0,2,74,0,31,1,1.666076e+09,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108944,99935,74,3,74,0,23,0,9992,74,0,...,99996,2,0,31,3,65,2,1.657177e+09,3561.591446,0
108945,99935,74,3,74,0,23,0,9992,74,0,...,99996,2,0,31,3,65,2,1.651388e+09,28141.824015,0
108946,99936,74,5,51,1,11,2,9992,29,1,...,99997,2,0,55,3,3,1,1.666076e+09,0.000000,0
108947,99937,74,5,62,1,21,1,9992,74,0,...,99998,2,0,74,0,31,3,1.651388e+09,19116.231742,0
108948,99938,54,4,74,0,1,3,9992,42,1,...,99999,2,0,74,0,74,0,1.651475e+09,22620.911972,0

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
ss=StandardScaler()

In [27]:
df["Plot"]=ss.fit_transform(np.array(df["Plot"]).reshape(-1, 1))

In [28]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,...,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd,koda_or_not
0,0,74,6,73,3,24,3,9060,36,1,...,-1.779116,0,0,29,3,74,0,1.666076e+09,0.000000,1
1,1,74,7,74,0,15,0,9992,0,3,...,-1.779081,0,1,74,0,4,3,1.666076e+09,0.000000,0
2,2,74,6,3,2,18,0,9992,29,2,...,-1.779046,0,2,55,1,32,1,1.666076e+09,0.000000,0
3,3,74,3,62,3,23,3,9992,74,0,...,-1.779011,0,1,73,3,74,0,1.666076e+09,0.000000,0
4,4,22,1,31,1,17,0,9992,36,3,...,-1.778977,0,2,74,0,31,1,1.666076e+09,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108944,99935,74,3,74,0,23,0,9992,74,0,...,1.692183,2,0,31,3,65,2,1.657177e+09,3561.591446,0
108945,99935,74,3,74,0,23,0,9992,74,0,...,1.692183,2,0,31,3,65,2,1.651388e+09,28141.824015,0
108946,99936,74,5,51,1,11,2,9992,29,1,...,1.692218,2,0,55,3,3,1,1.666076e+09,0.000000,0
108947,99937,74,5,62,1,21,1,9992,74,0,...,1.692253,2,0,74,0,31,3,1.651388e+09,19116.231742,0
108948,99938,54,4,74,0,1,3,9992,42,1,...,1.692288,2,0,74,0,74,0,1.651475e+09,22620.911972,0

In [29]:
df["block_timestamp"]=ss.fit_transform(np.array(df["block_timestamp"]).reshape(-1, 1))

In [30]:
df

,token_ids,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,...,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd,koda_or_not
0,0,74,6,73,3,24,3,9060,36,1,...,-1.779116,0,0,29,3,74,0,0.680838,0.000000,1
1,1,74,7,74,0,15,0,9992,0,3,...,-1.779081,0,1,74,0,4,3,0.680838,0.000000,0
2,2,74,6,3,2,18,0,9992,29,2,...,-1.779046,0,2,55,1,32,1,0.680838,0.000000,0
3,3,74,3,62,3,23,3,9992,74,0,...,-1.779011,0,1,73,3,74,0,0.680838,0.000000,0
4,4,22,1,31,1,17,0,9992,36,3,...,-1.778977,0,2,74,0,31,1,0.680838,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108944,99935,74,3,74,0,23,0,9992,74,0,...,1.692183,2,0,31,3,65,2,-0.714402,3561.591446,0
108945,99935,74,3,74,0,23,0,9992,74,0,...,1.692183,2,0,31,3,65,2,-1.621985,28141.824015,0
108946,99936,74,5,51,1,11,2,9992,29,1,...,1.692218,2,0,55,3,3,1,0.680838,0.000000,0
108947,99937,74,5,62,1,21,1,9992,74,0,...,1.692253,2,0,74,0,31,3,-1.621985,19116.231742,0
108948,99938,54,4,74,0,1,3,9992,42,1,...,1.692288,2,0,74,0,74,0,-1.608439,22620.911972,0

In [31]:
df_test=df[df["price_usd"]==0]
df_test=df_test.drop(columns=["token_ids",'price_usd'])

In [32]:
df_test

,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,koda_or_not
0,74,6,73,3,24,3,9060,36,1,0,-1.779116,0,0,29,3,74,0,0.680838,1
1,74,7,74,0,15,0,9992,0,3,1,-1.779081,0,1,74,0,4,3,0.680838,0
2,74,6,3,2,18,0,9992,29,2,0,-1.779046,0,2,55,1,32,1,0.680838,0
3,74,3,62,3,23,3,9992,74,0,0,-1.779011,0,1,73,3,74,0,0.680838,0
4,22,1,31,1,17,0,9992,36,3,1,-1.778977,0,2,74,0,31,1,0.680838,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108938,74,3,74,0,28,2,9992,74,0,1,1.692010,2,0,47,1,74,0,0.680838,0
108939,17,1,51,1,16,2,9992,54,1,0,1.692045,2,2,29,3,51,2,0.680838,0
108940,74,1,74,0,26,0,9992,74,0,1,1.692079,2,2,74,0,74,0,0.680838,0
108942,54,5,74,0,19,3,1554,74,0,0,1.692149,2,0,55,2,24,1,0.680838,1
108946,74,5,51,1,11,2,9992,29,1,1,1.692218,2,0,55,3,3,1,0.680838,0

In [33]:
df_train=df[df["price_usd"]!=0]
df_train=df_train.drop(columns=["token_ids"])

In [34]:
df_train

,Artifact,Category,Eastern Resource,Eastern Resource Tier,Environment,Environment Tier,Koda,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier,block_timestamp,price_usd,koda_or_not
9,74,1,39,2,26,1,9992,51,2,1,-1.778803,0,0,74,0,74,0,-1.608439,848284.198934,0
10,74,1,74,0,17,0,9992,8,1,1,-1.778768,0,2,3,1,42,2,-1.608439,706903.499112,0
12,74,1,74,0,16,2,9992,74,0,1,-1.778699,0,1,74,0,74,0,0.138997,455201.191705,0
16,74,3,73,3,3,2,9992,55,3,0,-1.778560,0,1,74,0,74,0,0.138997,407886.372496,0
17,74,1,74,0,2,1,9992,74,0,0,-1.778525,0,0,3,3,74,0,0.138997,228416.368598,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108943,74,3,74,0,23,0,9992,74,0,1,1.692183,2,0,31,3,65,2,-0.646672,3892.762727,0
108944,74,3,74,0,23,0,9992,74,0,1,1.692183,2,0,31,3,65,2,-0.714402,3561.591446,0
108945,74,3,74,0,23,0,9992,74,0,1,1.692183,2,0,31,3,65,2,-1.621985,28141.824015,0
108947,74,5,62,1,21,1,9992,74,0,1,1.692253,2,0,74,0,31,3,-1.621985,19116.231742,0
108948,54,4,74,0,1,3,9992,42,1,0,1.692288,2,0,74,0,74,0,-1.608439,22620.911972,0

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
X=df_train.drop(columns=["price_usd"])
y=df_train["price_usd"]
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.33, random_state=42)

In [38]:
import xgboost

In [40]:
model = xgboost.XGBRegressor(n_estimators=1000, max_depth=7, eta=0.1, subsample=0.7, colsample_bytree=0.8)

In [41]:
model.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, enable_categorical=False,
             eta=0.1, gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.100000001,
             max_delta_step=0, max_depth=7, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=1000, n_jobs=8,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=0.7,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [43]:
y_predict=model.predict(X_valid)

In [46]:
from sklearn.metrics import mean_absolute_error

In [47]:
mean_absolute_error(y_valid, y_predict)

4179.724411774608

In [48]:
y_valid

61481      9344.517814
97931     49835.456036
105250    20618.221379
107494    12724.262984
46892     11132.385574
              ...
96799     19116.231742
26900     18901.657957
817       42414.209947
69916      6370.790427
62642     22666.389066
Name: price_usd, Length: 11935, dtype: float64

In [49]:
y_predict

array([11221.242, 55621.637, 19666.748, ..., 64527.348,  7091.57 ,
       19763.83 ], dtype=float32)

In [50]:
from sklearn.metrics import explained_variance_score

In [51]:
explained_variance_score(y_valid, y_predict)

0.7785892292826235

In [52]:
model.score(X_train,y_train)

0.9836324667466704

In [54]:
model.score(X_valid,y_valid)

0.7785079967456613