In [3]:
import pandas as pd
import numpy as np
import san

In [25]:
price_df = san.get(
    "ohlcv/ethereum",
    from_date="2022-05-01",
    to_date="2022-09-17",
    interval="1d"
)
price_df

,openPriceUsd,closePriceUsd,highPriceUsd,lowPriceUsd,volume,marketcap
datetime,,,,,,
2022-05-01 00:00:00+00:00,2730.890249,2827.756144,2838.704254,2729.500730,1.533273e+10,3.410499e+11
2022-05-02 00:00:00+00:00,2827.613996,2857.410518,2873.834884,2785.896005,1.860974e+10,3.446642e+11
2022-05-03 00:00:00+00:00,2857.144042,2783.476209,2859.193402,2762.301091,1.302609e+10,3.357834e+11
2022-05-04 00:00:00+00:00,2783.096393,2940.644827,2956.686888,2780.389037,1.818675e+10,3.547820e+11
2022-05-05 00:00:00+00:00,2940.226647,2749.213042,2948.671297,2706.599772,2.264293e+10,3.317224e+11
...,...,...,...,...,...,...
2022-09-13 00:00:00+00:00,1713.962556,1574.789651,1743.564585,1570.242583,2.336160e+10,1.926867e+11
2022-09-14 00:00:00+00:00,1574.897040,1634.755043,1641.794592,1564.031835,1.789715e+10,2.000442e+11
2022-09-15 00:00:00+00:00,1634.623882,1471.693432,1648.400185,1467.483524,2.694628e+10,1.801103e+11
2022-09-16 00:00:00+00:00,1471.928365,1432.447730,1480.564203,1416.568235,1.676480e+10,1.753259e+11
2022-09-17 00:00:00+00:00,1433.217233,1459.448854,1463.488020,1415.042302,1.226998e+10,1.786480e+11

In [61]:
temp=[]
for i in price_df.index:
    temp.append(str(i)[0:10])

In [63]:
price_df.index=temp

In [65]:
price_df

,openPriceUsd,closePriceUsd,highPriceUsd,lowPriceUsd,volume,marketcap
2022-05-01,2730.890249,2827.756144,2838.704254,2729.500730,1.533273e+10,3.410499e+11
2022-05-02,2827.613996,2857.410518,2873.834884,2785.896005,1.860974e+10,3.446642e+11
2022-05-03,2857.144042,2783.476209,2859.193402,2762.301091,1.302609e+10,3.357834e+11
2022-05-04,2783.096393,2940.644827,2956.686888,2780.389037,1.818675e+10,3.547820e+11
2022-05-05,2940.226647,2749.213042,2948.671297,2706.599772,2.264293e+10,3.317224e+11
...,...,...,...,...,...,...
2022-09-13,1713.962556,1574.789651,1743.564585,1570.242583,2.336160e+10,1.926867e+11
2022-09-14,1574.897040,1634.755043,1641.794592,1564.031835,1.789715e+10,2.000442e+11
2022-09-15,1634.623882,1471.693432,1648.400185,1467.483524,2.694628e+10,1.801103e+11
2022-09-16,1471.928365,1432.447730,1480.564203,1416.568235,1.676480e+10,1.753259e+11
2022-09-17,1433.217233,1459.448854,1463.488020,1415.042302,1.226998e+10,1.786480e+11

In [51]:
df = pd.read_csv("./preprocessed_dataset/trade_df.csv", index_col=False)

In [52]:
df=df[df["price_token_address"].isnull()]

In [53]:
df

,transaction_hash,transaction_index,token_ids,seller_address,buyer_address,token_address,marketplace_address,price,price_token_address,block_timestamp,block_number,block_hash
0,0xd7697254e0c81b5495d33eb97f6df0b7712bed9f7240...,30,23446,0x638b1350920333d23a7a7472c00aa5c38c278b90,0xc4bc1da519e0e159b8c31bfbece55295f42b0df9,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,2.00,NaN,2022-09-17T00:44:35.000Z,15549817,0x170e4dd80b70bed43cce9b7ed879a97c7bf51567c6cc...
1,0x79ce5fd00f68d7c01e968330b4fd1d18d4dab63da449...,354,11227,0xd1878576c6cb7003a8225ee62785532f3bef5a88,0xf98188ad7b9e0857d4371e779ddcc7a27452315d,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,1.95,NaN,2022-09-17T00:17:23.000Z,15549682,0xd413884112774db0e2f00f0e0f462bce96b2f539a3b3...
3,0xd68434292eeb51fbcaaa5a7f123677b3e6c1860fa245...,191,17507,0x129551cf72217561d02679c0ad7a9810d525b605,0x93071db50d028e62fcf5f571bb5357160252eb7f,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,2.60,NaN,2022-09-16T22:50:47.000Z,15549253,0xaf15117c21f957e4fbe4a03196e3bb1067e1ca3b73f0...
5,0x13f54f315829585f277dd8370b669cf537c21c071051...,173,77132,0x273d3c8c45487debc56bfdc6d2f8c2a1300a9f22,0xdac0410b2530886517d4d2096f0dad14f9e8b111,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,2.00,NaN,2022-09-16T22:24:23.000Z,15549123,0x2b3bc41ab2e505eb866269e1d15a3fa9070fb07f3790...
7,0xb1d1e3a952d904d6c1bf323538ec4c36d3cf3a0f3bb0...,127,54283,0xc2e8240cab4457acb669eafc94448a6c1d483f95,0xa437aa303cef291dea44801e80c192d254f559ad,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,1.75,NaN,2022-09-16T21:56:11.000Z,15548985,0x39ec75471d0c9a8e20b2054dcd21e0872bcf93933f70...
...,...,...,...,...,...,...,...,...,...,...,...,...
41987,0x4d6800bc7247754b3f71324c7631ec7065bfcdae2188...,35,49495,0x484f2bfe6ea59d667fd5cb29ed259329180d0507,0x003c4209f5b9c18e926b4725d0c2c95c91e6a6c9,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.00,NaN,2022-05-01T01:14:58.000Z,14688939,0xafccfed5708df97338fa4c9d8f5c86191b2280f17fb2...
41988,0x18d5d225fa2164ec1b413f9e4771ef2ce2058c03c708...,19,51155,0x94f68749be6c2e1de2a7d2bb0cf6d1d93269f035,0x5021052790184abfe9a618c0578fead636879478,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.00,NaN,2022-05-01T01:14:58.000Z,14688939,0xafccfed5708df97338fa4c9d8f5c86191b2280f17fb2...
41989,0x1104e053a73a7ec5639a3cbafeab9a29933fe35f8c41...,41,45735,0xc1980a8cf3b17788e71e542e6eec73930cfa2910,0x697da3c2e359cc940e8ff63453f8e68e2ff5ff90,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.34,NaN,2022-05-01T01:14:47.000Z,14688938,0xd1435ddf526ccd2ea001a9ebfdc1dd45501bad9e3e37...
41990,0x9310dd9850a933182519bbc8dcc67635be78b0567ada...,30,50763,0x889e9a0a6378bdfd45c2999d2026f8d03cded448,0xdfdba601d5d6a17fb0017ecaa531b2b4ca3d2c5d,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.50,NaN,2022-05-01T01:14:47.000Z,14688938,0xd1435ddf526ccd2ea001a9ebfdc1dd45501bad9e3e37...
41991,0xea3424e625db10490e416dfa92411111685061281069...,24,46903,0x0121bdcefb6affb590c90adf4cb7b0a88213d49a,0x995db04afea09f1051b46678ffd886cc3f00b2d6,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,9.00,NaN,2022-05-01T01:14:36.000Z,14688935,0xec413770169d810d0d5417cbc7bd35a395d514dd48fc...

In [56]:
temp=[]
for i in df["block_timestamp"]:
    temp.append(str(i)[0:10])

In [58]:
df["block_timestamp"]=temp

In [59]:
df

,transaction_hash,transaction_index,token_ids,seller_address,buyer_address,token_address,marketplace_address,price,price_token_address,block_timestamp,block_number,block_hash
0,0xd7697254e0c81b5495d33eb97f6df0b7712bed9f7240...,30,23446,0x638b1350920333d23a7a7472c00aa5c38c278b90,0xc4bc1da519e0e159b8c31bfbece55295f42b0df9,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,2.00,NaN,2022-09-17,15549817,0x170e4dd80b70bed43cce9b7ed879a97c7bf51567c6cc...
1,0x79ce5fd00f68d7c01e968330b4fd1d18d4dab63da449...,354,11227,0xd1878576c6cb7003a8225ee62785532f3bef5a88,0xf98188ad7b9e0857d4371e779ddcc7a27452315d,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,1.95,NaN,2022-09-17,15549682,0xd413884112774db0e2f00f0e0f462bce96b2f539a3b3...
3,0xd68434292eeb51fbcaaa5a7f123677b3e6c1860fa245...,191,17507,0x129551cf72217561d02679c0ad7a9810d525b605,0x93071db50d028e62fcf5f571bb5357160252eb7f,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,2.60,NaN,2022-09-16,15549253,0xaf15117c21f957e4fbe4a03196e3bb1067e1ca3b73f0...
5,0x13f54f315829585f277dd8370b669cf537c21c071051...,173,77132,0x273d3c8c45487debc56bfdc6d2f8c2a1300a9f22,0xdac0410b2530886517d4d2096f0dad14f9e8b111,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,2.00,NaN,2022-09-16,15549123,0x2b3bc41ab2e505eb866269e1d15a3fa9070fb07f3790...
7,0xb1d1e3a952d904d6c1bf323538ec4c36d3cf3a0f3bb0...,127,54283,0xc2e8240cab4457acb669eafc94448a6c1d483f95,0xa437aa303cef291dea44801e80c192d254f559ad,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,1.75,NaN,2022-09-16,15548985,0x39ec75471d0c9a8e20b2054dcd21e0872bcf93933f70...
...,...,...,...,...,...,...,...,...,...,...,...,...
41987,0x4d6800bc7247754b3f71324c7631ec7065bfcdae2188...,35,49495,0x484f2bfe6ea59d667fd5cb29ed259329180d0507,0x003c4209f5b9c18e926b4725d0c2c95c91e6a6c9,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.00,NaN,2022-05-01,14688939,0xafccfed5708df97338fa4c9d8f5c86191b2280f17fb2...
41988,0x18d5d225fa2164ec1b413f9e4771ef2ce2058c03c708...,19,51155,0x94f68749be6c2e1de2a7d2bb0cf6d1d93269f035,0x5021052790184abfe9a618c0578fead636879478,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.00,NaN,2022-05-01,14688939,0xafccfed5708df97338fa4c9d8f5c86191b2280f17fb2...
41989,0x1104e053a73a7ec5639a3cbafeab9a29933fe35f8c41...,41,45735,0xc1980a8cf3b17788e71e542e6eec73930cfa2910,0x697da3c2e359cc940e8ff63453f8e68e2ff5ff90,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.34,NaN,2022-05-01,14688938,0xd1435ddf526ccd2ea001a9ebfdc1dd45501bad9e3e37...
41990,0x9310dd9850a933182519bbc8dcc67635be78b0567ada...,30,50763,0x889e9a0a6378bdfd45c2999d2026f8d03cded448,0xdfdba601d5d6a17fb0017ecaa531b2b4ca3d2c5d,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.50,NaN,2022-05-01,14688938,0xd1435ddf526ccd2ea001a9ebfdc1dd45501bad9e3e37...
41991,0xea3424e625db10490e416dfa92411111685061281069...,24,46903,0x0121bdcefb6affb590c90adf4cb7b0a88213d49a,0x995db04afea09f1051b46678ffd886cc3f00b2d6,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,9.00,NaN,2022-05-01,14688935,0xec413770169d810d0d5417cbc7bd35a395d514dd48fc...

In [67]:
temp=[]
for i in df["block_timestamp"]:
    temp.append(price_df.loc[i]["openPriceUsd"])

In [71]:
df["price_usd"]=temp*df["price"]

In [72]:
df

,transaction_hash,transaction_index,token_ids,seller_address,buyer_address,token_address,marketplace_address,price,price_token_address,block_timestamp,block_number,block_hash,price_usd
0,0xd7697254e0c81b5495d33eb97f6df0b7712bed9f7240...,30,23446,0x638b1350920333d23a7a7472c00aa5c38c278b90,0xc4bc1da519e0e159b8c31bfbece55295f42b0df9,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,2.00,NaN,2022-09-17,15549817,0x170e4dd80b70bed43cce9b7ed879a97c7bf51567c6cc...,2866.434466
1,0x79ce5fd00f68d7c01e968330b4fd1d18d4dab63da449...,354,11227,0xd1878576c6cb7003a8225ee62785532f3bef5a88,0xf98188ad7b9e0857d4371e779ddcc7a27452315d,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,1.95,NaN,2022-09-17,15549682,0xd413884112774db0e2f00f0e0f462bce96b2f539a3b3...,2794.773604
3,0xd68434292eeb51fbcaaa5a7f123677b3e6c1860fa245...,191,17507,0x129551cf72217561d02679c0ad7a9810d525b605,0x93071db50d028e62fcf5f571bb5357160252eb7f,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,2.60,NaN,2022-09-16,15549253,0xaf15117c21f957e4fbe4a03196e3bb1067e1ca3b73f0...,3827.013750
5,0x13f54f315829585f277dd8370b669cf537c21c071051...,173,77132,0x273d3c8c45487debc56bfdc6d2f8c2a1300a9f22,0xdac0410b2530886517d4d2096f0dad14f9e8b111,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,2.00,NaN,2022-09-16,15549123,0x2b3bc41ab2e505eb866269e1d15a3fa9070fb07f3790...,2943.856731
7,0xb1d1e3a952d904d6c1bf323538ec4c36d3cf3a0f3bb0...,127,54283,0xc2e8240cab4457acb669eafc94448a6c1d483f95,0xa437aa303cef291dea44801e80c192d254f559ad,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x00000000006c3852cbef3e08e8df289169ede581,1.75,NaN,2022-09-16,15548985,0x39ec75471d0c9a8e20b2054dcd21e0872bcf93933f70...,2575.874639
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41987,0x4d6800bc7247754b3f71324c7631ec7065bfcdae2188...,35,49495,0x484f2bfe6ea59d667fd5cb29ed259329180d0507,0x003c4209f5b9c18e926b4725d0c2c95c91e6a6c9,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.00,NaN,2022-05-01,14688939,0xafccfed5708df97338fa4c9d8f5c86191b2280f17fb2...,21847.121991
41988,0x18d5d225fa2164ec1b413f9e4771ef2ce2058c03c708...,19,51155,0x94f68749be6c2e1de2a7d2bb0cf6d1d93269f035,0x5021052790184abfe9a618c0578fead636879478,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.00,NaN,2022-05-01,14688939,0xafccfed5708df97338fa4c9d8f5c86191b2280f17fb2...,21847.121991
41989,0x1104e053a73a7ec5639a3cbafeab9a29933fe35f8c41...,41,45735,0xc1980a8cf3b17788e71e542e6eec73930cfa2910,0x697da3c2e359cc940e8ff63453f8e68e2ff5ff90,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.34,NaN,2022-05-01,14688938,0xd1435ddf526ccd2ea001a9ebfdc1dd45501bad9e3e37...,22775.624676
41990,0x9310dd9850a933182519bbc8dcc67635be78b0567ada...,30,50763,0x889e9a0a6378bdfd45c2999d2026f8d03cded448,0xdfdba601d5d6a17fb0017ecaa531b2b4ca3d2c5d,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,8.50,NaN,2022-05-01,14688938,0xd1435ddf526ccd2ea001a9ebfdc1dd45501bad9e3e37...,23212.567116
41991,0xea3424e625db10490e416dfa92411111685061281069...,24,46903,0x0121bdcefb6affb590c90adf4cb7b0a88213d49a,0x995db04afea09f1051b46678ffd886cc3f00b2d6,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,0x7f268357a8c2552623316e2562d90e642bb538e5,9.00,NaN,2022-05-01,14688935,0xec413770169d810d0d5417cbc7bd35a395d514dd48fc...,24578.012240

In [85]:
ntf_df=pd.read_csv("preprocessed_dataset/ntf_df1.csv")

In [86]:
ntf_df

,token_address,amount,owner_of,token_hash,block_number_minted,block_number,transfer_index,contract_type,name,symbol,...,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier
0,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xf7801b8115f3fe46ac55f8c0fdb5243726bdb66a,e64f9898044a4a1111e2eda769adcd96,14692463,14692463.0,"[14692463, 125, 165, 0]",ERC721,Otherdeed,OTHR,...,Moldium,1.0,First Trip,0,Biogenic Swamp,1,Lumileaf,3.0,NaN,NaN
1,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x46efbaedc92067e6d60e84ed6395099723252496,8350fb9c2b0adea96bf929d1255e6fcf,14694414,14694414.0,"[14694414, 43, 76, 0]",ERC721,Otherdeed,OTHR,...,Abyssia,3.0,NaN,1,Biogenic Swamp,2,NaN,NaN,Brimstone,3.0
2,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xc5c7b46843014b1591e9af24de797156cde67f08,44f52b4884b50788e198fea18ada4d94,14694565,14694565.0,"[14694565, 191, 196, 0]",ERC721,Otherdeed,OTHR,...,Lumileaf,2.0,First Trip,2,Biogenic Swamp,3,Runa,1.0,Luster,1.0
3,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x03546b22bc80b3e6b64c4445963d981250267a68,bcb9b0d100b4d1f9f23223ac9402227e,14694416,14694416.0,"[14694416, 134, 241, 0]",ERC721,Otherdeed,OTHR,...,NaN,NaN,First Trip,3,Biogenic Swamp,2,Whisper,3.0,NaN,NaN
4,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x33569c101562e1faf5b24581057e5cee4c8288d7,fbeb786f4e1935adf2da5d097ab68fb1,14690047,14690047.0,"[14690047, 67, 114, 0]",ERC721,Otherdeed,OTHR,...,Moldium,3.0,NaN,4,Biogenic Swamp,3,NaN,NaN,Lunarian,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x9a722bd2587b9e1b8842da81239d9eb22e78e8ea,b8575261304ecb6f989c88c60a2c29f8,14691716,14743643.0,"[14743643, 236, 371, 0]",ERC721,Otherdeed,OTHR,...,NaN,NaN,First Trip,20000,Chemical Goo,1,NaN,NaN,Spikeweed,1.0
19996,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x59a64b88dcb2d3504d585e5f70fdb5adf599babc,b99105c6fab3f0cd0c7803c6f5b0f81c,14691717,14691717.0,"[14691717, 42, 64, 0]",ERC721,Otherdeed,OTHR,...,NaN,NaN,NaN,20001,Chemical Goo,1,NaN,NaN,NaN,NaN
19997,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x2212bb0f962bb177b8d63d55b918f7ee60937b08,afbefbaabd0d789ff5398658c84dcb22,14691718,14691718.0,"[14691718, 247, 306, 0]",ERC721,Otherdeed,OTHR,...,NaN,NaN,NaN,20002,Chemical Goo,1,NaN,NaN,Luster,3.0
19998,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0x4d91838268f6d6d4e590e8fd2a001cd91c32e7a4,599e3fe254d4c3be3bf435b004a1b872,14691718,14694443.0,"[14694443, 79, 138, 0]",ERC721,Otherdeed,OTHR,...,NaN,NaN,NaN,20003,Chemical Goo,2,NaN,NaN,Pricklia,1.0
19999,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e258,1,0xba5405e6992c6db06c75dce0a903fe6d87cf2226,4ff954afbf3e403056ec8611443f6597,14691718,14691718.0,"[14691718, 328, 424, 0]",ERC721,Otherdeed,OTHR,...,NaN,NaN,NaN,20004,Chemical Goo,1,NaN,NaN,NaN,NaN

In [89]:
temp=pd.read_csv("preprocessed_dataset/ntf_df2.csv")
ntf_df=pd.concat(ntf_df,temp)
temp=pd.read_csv("preprocessed_dataset/ntf_df3.csv")
ntf_df=pd.concat(ntf_df,temp)
temp=pd.read_csv("preprocessed_dataset/ntf_df4.csv")
ntf_df=pd.concat(ntf_df,temp)
temp=pd.read_csv("preprocessed_dataset/ntf_df5.csv")
ntf_df=pd.concat(ntf_df,temp)

C:\Users\gongd\AppData\Local\Temp/ipykernel_18684/567514783.py:2: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  ntf_df=pd.concat(ntf_df,temp)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [88]:
ntf_df

,token_address,amount,owner_of,token_hash,block_number_minted,block_number,transfer_index,contract_type,name,symbol,...,Northern Resource,Northern Resource Tier,Obelisk Piece,Plot,Sediment,Sediment Tier,Southern Resource,Southern Resource Tier,Western Resource,Western Resource Tier
0,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e2580x34...,5.0,0xf7801b8115f3fe46ac55f8c0fdb5243726bdb66a0x82...,e64f9898044a4a1111e2eda769adcd96ab4bb5c298a328...,73443263.0,73445186.0,"[14692463, 125, 165, 0][14691719, 199, 329, 0]...",ERC721ERC721ERC721ERC721ERC721,OtherdeedOtherdeedOtherdeedOtherdeedOtherdeed,OTHROTHROTHROTHROTHR,...,NaN,NaN,NaN,200127.0,Biogenic SwampChemical GooInfinite ExpanseInfi...,10.0,NaN,NaN,NaN,NaN
1,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e2580x34...,5.0,0x46efbaedc92067e6d60e84ed63950997232524960x82...,8350fb9c2b0adea96bf929d1255e6fcf77e6d49a17893c...,73445214.0,73504045.0,"[14694414, 43, 76, 0][14691719, 199, 330, 0][1...",ERC721ERC721ERC721ERC721ERC721,OtherdeedOtherdeedOtherdeedOtherdeedOtherdeed,OTHROTHROTHROTHROTHR,...,NaN,NaN,NaN,200132.0,Biogenic SwampChemical GooInfinite ExpanseInfi...,10.0,NaN,NaN,NaN,NaN
2,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e2580x34...,5.0,0xc5c7b46843014b1591e9af24de797156cde67f080x0d...,44f52b4884b50788e198fea18ada4d942d63be6232e48f...,73445366.0,73686024.0,"[14694565, 191, 196, 0][14700635, 236, 637, 0]...",ERC721ERC721ERC721ERC721ERC721,OtherdeedOtherdeedOtherdeedOtherdeedOtherdeed,OTHROTHROTHROTHROTHR,...,NaN,NaN,NaN,200137.0,Biogenic SwampChemical GooInfinite ExpanseInfi...,11.0,NaN,NaN,NaN,NaN
3,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e2580x34...,5.0,0x03546b22bc80b3e6b64c4445963d981250267a680x5c...,bcb9b0d100b4d1f9f23223ac9402227e94f42ad71d19ec...,73445219.0,73463189.0,"[14694416, 134, 241, 0][14701561, 62, 107, 0][...",ERC721ERC721ERC721ERC721ERC721,OtherdeedOtherdeedOtherdeedOtherdeedOtherdeed,OTHROTHROTHROTHROTHR,...,NaN,NaN,NaN,200142.0,Biogenic SwampChemical GooInfinite ExpanseInfi...,14.0,NaN,NaN,NaN,NaN
4,0x34d85c9cdeb23fa97cb08333b511ac86e1c4e2580x34...,5.0,0x33569c101562e1faf5b24581057e5cee4c8288d70xc4...,fbeb786f4e1935adf2da5d097ab68fb130497a68911112...,73440850.0,74984558.0,"[14690047, 67, 114, 0][14898067, 200, 165, 0][...",ERC721ERC721ERC721ERC721ERC721,OtherdeedOtherdeedOtherdeedOtherdeedOtherdeed,OTHROTHROTHROTHROTHR,...,NaN,NaN,NaN,200147.0,Biogenic SwampChemical GooInfinite ExpanseInfi...,12.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN